.img-container{
    overflow: visible;
    display: flex;
    justify-content: center;
    
    }
    .img-container img:hover{
        transform: scale(1.06);
        box-shadow: 0 0 20px 2px #79dfce;
        overflow: visible;

      
      }
.img-container img {
overflow: hidden;
height: 20em;
transition: 0.3s;
    animation: ease-in-out;
        margin: 10px 0;
}
.about{
    color: rgb(202, 198, 198);
    text-align: center;
}